<h2><i class="fa fa-building"></i>Images Management</h2>
<br />
<div ng-show="!waitImages">
    <div class="companies">
        <div class="glavniDioSlike">
            <div class="Slika" ng-repeat="image in images" style="width:30%">
                <div class="panel-heading">
                    <h3 class="panel-title">Description: {{image.description}}</h3>
                </div>
                <div class="panel-body">
                    <image ng-src="{{image.location}}"></image>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="waitImages">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>