<div ng-show="!waitCustomers">
    <h2><i class="fa fa-users"></i>  Customers Management</h2>
    <div class="pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#newCustomerModal" ng-click="loadCompaniesInfo()"><strong>New Customer</strong></a></div>
    <br /><br />
    <table class="table table-striped" align="right">
        <thead>
            <tr>
                <th class="col-md-1" style="text-align:center"><h4>ID</h4></th>
                <th class="col-md-1" style="text-align:center"><h4>DESCRIPTION</h4></th>
                <th class="col-md-2" style="text-align:center"><h4>LOCATION</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers">
                <td class="col-md-1" style="text-align:center">{{user.id}}</td>
                <td class="col-md-2" style="text-align:center">{{user.description}}</td>
                <td class="col-md-1" style="text-align:center">{{user.location}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="waitCustomers">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>