<div class="images" ng-show="!waitImages">
    <h2><i class="fa fa-users"></i>  Customers Management</h2>
    <div class="pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#newCustomerModal" ng-click="loadImages()"><strong>New Image</strong></a></div>
    <br /><br />
    <table class="table table-striped" align="right">
        <thead>
            <tr>
                <th class="col-md-1" style="text-align:center"><h4>ID</h4></th>
                <th class="col-md-1" style="text-align:center"><h4>DESCRIPTION</h4></th>
                <th class="col-md-2" style="text-align:center"><h4>LOCATION</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="image in images">
                <td class="col-md-1" style="text-align:center">{{image.id}}</td>
                <td class="col-md-2" style="text-align:center">{{image.description}}</td>
                <td class="col-md-1" style="text-align:center">{{image.location}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="waitImages">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>